<%- include('./partials/header')-%>

    <body>
        <form id="confirm-countries" class="form" autocomplete="off">
            <span>Por favor, confirme los países de los equipos a utilizar (clubes) o elija "internacional" en caso de
                emplear combinados nacionales: </span>
            <div class="form__container">
                <div class="form-check">
                    <input name="DE" class="form-check-input form-check-input-countries" type="checkbox" value="Germany"
                        id="DE">
                    <label class="form-check-label" for="inputID">
                        Alemania
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Argentina
                    </label>
                    <input name="AR" class="form-check-input form-check-input-countries" type="checkbox"
                        value="Argentina" id="AR">

                </div>
                <div class="form-check">
                    <input name="BR" class="form-check-input form-check-input-countries" type="checkbox" value="Brazil"
                        id="BR">
                    <label class="form-check-label" for="inputID">
                        Brasil
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Dinamarca
                    </label>
                    <input name="DK" class="form-check-input form-check-input-countries" type="checkbox" value="Denmark"
                        id="DK">
                </div>
                <div class="form-check">
                    <input name="SP" class="form-check-input form-check-input-countries" type="checkbox" value="Spain"
                        id="SP">
                    <label class="form-check-label" for="inputID">
                        España
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Francia
                    </label>
                    <input name="FR" class="form-check-input form-check-input-countries" type="checkbox" value="France"
                        id="FR">
                </div>
                <div class="form-check">
                    <input name="GR" class="form-check-input form-check-input-countries" type="checkbox" value="Greece"
                        id="GR">
                    <label class="form-check-label" for="inputID">
                        Grecia
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Holanda
                    </label>
                    <input name="NL" class="form-check-input form-check-input-countries" type="checkbox"
                        value="Netherlands" id="NL">
                </div>
                <div class="form-check">
                    <input name="GB" class="form-check-input form-check-input-countries" type="checkbox" value="England"
                        id="GB">
                    <label class="form-check-label" for="inputID">
                        Inglaterra
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Internacional
                    </label>
                    <input name="nations" class="form-check-input form-check-input-countries" type="checkbox"
                        value="nations" id="nations">
                </div>
                <div class="form-check">
                    <input name="IT" class="form-check-input form-check-input-countries" type="checkbox" value="Italy"
                        id="IT">
                    <label class="form-check-label" for="inputID">
                        Italia
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Portugal
                    </label>
                    <input name="PT" class="form-check-input form-check-input-countries" type="checkbox"
                        value="Portugal" id="PT">
                </div>
                <div class="form-check">
                    <input name="RU" class="form-check-input form-check-input-countries" type="checkbox" value="Russia"
                        id="RU">
                    <label class="form-check-label" for="inputID">
                        Rusia
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="inputID">
                        Turquía
                    </label>
                    <input name="TR" class="form-check-input form-check-input-countries" type="checkbox" value="Turkey"
                        id="TR">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Confirmar países</button>
        </form>
        <form id="confirmDataForDB" class="form" action="/create-tournament" method="post" autocomplete="off">
            <div class="form__container">
                <span>Ingrese el nombre del torneo a generar:</span>
                <input id="" name="tournamentName" placeholder="Nombre del torneo" type="text" required>
            </div>
            <div class="form__container">
                <span>¿Qué jugadores humanos participarán del torneo?</span>
                <div class="form-check">
                    <input name="firstPlayer" class="form-check-input form-check-input-players" type="checkbox"
                        value="Leo" id="">
                    <label class="form-check-label" for="inputID">
                        Leo
                    </label>
                </div>
                <div class="form-check">
                    <input name="secondPlayer" class="form-check-input form-check-input-players" type="checkbox"
                        value="Lucho" id="">
                    <label class="form-check-label" for="inputID">
                        Lucho
                    </label>
                </div>
                <div class="form-check">
                    <input name="thirdPlayer" class="form-check-input form-check-input-players" type="checkbox"
                        value="Max" id="">
                    <label class="form-check-label" for="inputID">
                        Max
                    </label>
                </div>
                <div class="form-check">
                    <input name="fourthPlayer" class="form-check-input form-check-input-players" type="checkbox"
                        value="Nico" id="">
                    <label class="form-check-label" for="inputID">
                        Nico
                    </label>
                </div>
                <div class="form-check">
                    <input name="fifthPlayer" class="form-check-input form-check-input-players" type="checkbox"
                        value="Santi" id="">
                    <label class="form-check-label" for="inputID">
                        Santi
                    </label>
                </div>
            </div>
            <div class="form__container select__container">
                <select name="format" required>
                    <option selected disabled value="">Tipo de torneo</option>
                    <option id="" value="league">Temporada</option>
                    <option id="" value="playoff">Eliminatoria</option>
                    <option id="" value="league_playoff">Temporada + eliminatoria</option>
                </select>
                <select name="origin" required>
                    <option selected disabled value="">Tipos de equipo</option>
                    <option id="league" value="clubs">Clubes</option>
                    <option id="playoff" value="national">Selecciones</option>
                </select>
            </div>
            <div id="teamsFromJSON" class="form__container"></div>
            <div id="confirmationButton"></div>
        </form>
        <script src="js/create-tournament.js"></script>

        <%- include('./partials/footer')-%>