<%- include('./partials/header')-%>

    <body id="body" class="preload">
        <header>
            <img class="header__img" src="./img/logo.jpg" alt="" />
            <button id="hamburger" class="hamburger">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="nav">
                <ul id="nav__list" class="nav__list">
                    <li id="" class="nav__list-option">
                        <a class="nav__list-option-link">Link</a>
                    </li>
                    <li id="" class="nav__list-option">
                        <a class="nav__list-option-link">Link</a>
                    </li>
                    <li id="" class="nav__list-option">
                        <a href="" target="_blank" class="nav__list-option-link" id="meditaciones">Link</a>
                    </li>
                    <li id="" class="nav__list-option">
                        <a class="nav__list-option-link">Link</a>
                    </li>
                    <li id="" class="nav__list-option">
                        <a href="" class="nav__list-option-link">Link</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="container__tournament">
                <div class="flex-container">
                    <div class="container__tournament-header container__tournament-header-first">
                        <img class="container__tournament-header-image" src="./img/logo.jpg" alt="" />
                        <div class="container__tournament-header-title">
                            <span>Torneos locales</span>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-rosario-central">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Torneo Argentino 2016</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/rosario-central-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Rosario Central</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/san-lorenzo-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">San Lorenzo</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-estudiantes">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Torneo Argentino 2017</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/estudiantes-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Estudiantes</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/rosario-central-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Rosario Central</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-san-lorenzo">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Torneo Argentino 2018</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/san-lorenzo-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">San Lorenzo</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/river-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Santi</span>
                                <span class="span-team">River</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-racing">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Copa Argentina 2018</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/racing-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Racing</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/san-lorenzo-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">San Lorenzo</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-river">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Torneo Argentino 2021/22</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/river-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">River</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/lanus-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">Lanús</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="records">
                    <div class="records-title">
                        <span>Torneos locales</span>
                    </div>
                    <div class="records-content-container">
                        <div class="records-content">
                            <img src="./img/rosario-central-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/estudiantes-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/san-lorenzo-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/racing-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/river-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__tournament">
                <div class="flex-container">
                    <div class="container__tournament-header">
                        <img class="container__tournament-header-image" src="./img/logo.jpg" alt="" />
                        <div class="container__tournament-header-title">
                            <span>Mundiales</span>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-portugal">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Copa del mundo 2017</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/portugal-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">Portugal</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/francia-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Santi</span>
                                <span class="span-team">Francia</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-alemania">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Copa del mundo 2018</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/alemania-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">Alemania</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/francia-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Santi</span>
                                <span class="span-team">Francia</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-belgica">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Copa del mundo 2018</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/belgica-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Bélgica</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/alemania-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">Alemania</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="records">
                    <div class="records-title">
                        <span>Mundiales</span>
                    </div>
                    <div class="records-content-container">
                        <div class="records-content">
                            <img src="./img/portugal-bandera.png" class="records-content-img-bandera" alt="">
                            <img src="./img/world-cup.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/alemania-bandera.png" class="records-content-img-bandera" alt="">
                            <img src="./img/world-cup.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/belgica-bandera.png" class="records-content-img-bandera" alt="">
                            <img src="./img/world-cup.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__tournament">
                <div class="flex-container">
                    <div class="container__tournament-header">
                        <img class="container__tournament-header-image" src="./img/logo.jpg" alt="" />
                        <div class="container__tournament-header-title">
                            <span>Copas internacionales</span>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-manchester-united">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Mundial de clubes 2018</div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/manchester-united-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Manchester Utd</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/atletico-madrid-escudo.png" class="img-team img-team-atletico-madrid-small"
                                alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Atlético Madrid</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-real-madrid">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">
                            <span class="italic">Chempions</span> 2019
                        </div>
                        <div class="container__tournament-content-champion">
                            <img src="./img/real-madrid-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Leo</span>
                                <span class="span-team">Real Madrid</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/lokomotiv-escudo.png" class="img-team" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Lokomotiv</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="records">
                    <div class="records-title">
                        <span>Copas Internacionales</span>
                    </div>
                    <div class="records-content-container">
                        <div class="records-content">
                            <img src="./img/manchester-united-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                        <div class="records-content">
                            <img src="./img/real-madrid-escudo.png" class="records-content-img-escudo" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__tournament">
                <div class="flex-container">
                    <div class="container__tournament-header">
                        <img class="container__tournament-header-image" src="./img/logo.jpg" alt="" />
                        <div class="container__tournament-header-title">
                            <span>Copa América</span>
                        </div>
                    </div>
                </div>
                <div class="container__tournament-content-stack stack-argentina">
                    <div class="container__tournament-content">
                        <div class="container__tournament-content-title">Copa América 2019</div>
                        <img src="./img/gallartie.png" class="img-gallartie" alt="">
                        <div class="container__tournament-content-champion">
                            <img src="./img/argentina-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-champion-details">
                                <span class="span-title">Campeón</span>
                                <span class="span-name">Santi</span>
                                <span class="span-team">Argentina</span>
                            </div>
                        </div>
                        <div class="container__tournament-content-finalist">
                            <img src="./img/peru-bandera.png" class="img-country" alt="" />
                            <div class="container__tournament-content-finalist-details">
                                <span class="span-title">Subcampeón</span>
                                <span class="span-name">Max</span>
                                <span class="span-team">Perú</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="records">
                    <div class="records-title">
                        <span>Copa América</span>
                    </div>
                    <div class="records-content-container">
                        <div class="records-content">
                            <img src="./img/argentina-bandera.png" class="records-content-img-bandera" alt="">
                            <img src="./img/gold-star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__tournament">
                <div class="flex-container">
                    <div class="container__tournament-header">
                        <img class="container__tournament-header-image" src="./img/logo.jpg" alt="" />
                        <div class="container__tournament-header-title">
                            <span>Palmarés</span>
                        </div>
                    </div>
                </div>
                <div class="container__trajectory">
                    <div class="trajectory-manager">
                        <span class="trajectory-manager-name">Max</span>
                        <span class="trajectory-manager-amount">5</span>
                        <span class="trajectory-manager-titles">títulos</span>
                    </div>
                    <div class="trajectory-trophies">
                        <span>Torneo Argentino '16</span>
                        <span>Torneo Argentino '17</span>
                        <span>Copa del Mundo '18</span>
                        <span>Mundial de clubes '18</span>
                        <span>Copa Argentina '18</span>
                    </div>
                </div>
                <div class="container__trajectory">
                    <div class="trajectory-manager">
                        <span class="trajectory-manager-name">Leo</span>
                        <span class="trajectory-manager-amount">5</span>
                        <span class="trajectory-manager-titles">títulos</span>
                    </div>
                    <div class="trajectory-trophies">
                        <span>Copa del Mundo '17</span>
                        <span>Torneo Argentino '18</span>
                        <span>Copa del Mundo '18</span>
                        <span>Chempions '19</span>
                        <span>Torneo Argentino '22</span>
                    </div>
                </div>
                <div class="container__trajectory">
                    <div class="trajectory-manager">
                        <span class="trajectory-manager-name">Santi</span>
                        <span class="trajectory-manager-amount">1</span>
                        <span class="trajectory-manager-titles">título</span>
                    </div>
                    <div class="trajectory-trophies">
                        <span>Copa América '19</span>
                    </div>
                </div>
                <div class="container__trajectory">
                    <div class="trajectory-manager">
                        <span class="trajectory-manager-name">Lucho</span>
                        <span class="trajectory-manager-amount">0</span>
                        <span class="trajectory-manager-titles">títulos</span>
                    </div>
                    <div class="trajectory-trophies">
                        <span class="small-description">Premio Sperdutti a la trayectoria.</span>
                    </div>
                </div>
                <div class="container__trajectory">
                    <div class="trajectory-manager">
                        <span class="trajectory-manager-name">Nico</span>
                        <span class="trajectory-manager-amount">0</span>
                        <span class="trajectory-manager-titles">títulos</span>
                    </div>
                    <div class="trajectory-trophies">
                        <span class="small-description">Pero cheto torneo con Sarmiento (!!!) metió el pibe.</span>
                    </div>
                </div>
            </div>
        </main>
    <script src="js/main.js"></script>
    </body>

    <%- include('./partials/footer')-%>