<%- include('./partials/header')-%>

    <script>
        setTimeout(() => {
            window.location = "/";
        }, 2000)
    </script>
    <main>
        <div class="container mt-3">
            <div class="jumbotron">
                <h1 style="color:blue;">Hasta luego!</h1>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')-%>