<%- include('./partials/encabezado')-%>

    <body>
        <script>
            setTimeout(() => {
                window.location = "/";
            }, 2000)
        </script>

        <div class="container mt-3">
            <div class="jumbotron">
                <h1 style="color:blue;">Hasta luego!</h1>
            </div>
        </div>

        <%- include('./partials/pie')-%>