<%- include('./../partials/header')-%>

    <div>¡El id ingresado (<%=tournamentId%>) no se corresponde con el de ningún torneo!</div>

    <div>También es posible que el torneo aun no tenga partidos cargados.</div>

    <a href="./face-to-face">Volver</a>

    <%- include('./../partials/footer')-%>