<%- include('./../partials/header')-%>

    <main>

        <div>No se hallaron torneos en la base de datos</div>
        <div>Para realizar el sorteo, primero debe <a href="/create-tournament">generar un torneo!</a></div>

        <a href="./">Volver</a>

    </main>
    <%- include('./../partials/footer')-%>