<%- include('./../partials/header')-%>

    <div>No se encontró el torneo de ID: <%=idProvided%></div>

    <div>Volver a <a href="./../tournaments.ejs">torneos</a></div>

    <a href="./">Volver al home</a>

    <%- include('./../partials/footer')-%>