<%- include('./../partials/header')-%>
    <main>
        <div>No existen torneos en la base de datos</div>

        <a href="/">Volver al home</a>
    </main>
    <%- include('./../partials/footer')-%>