<%- include('./../partials/header')-%>

    <div>No existen torneos en la base de datos</div>

    <div>Antes de cargar un partido, debe <a href="./../create-tournament">generar un torneo!</a></div>
    
    <a href="./">Volver</a>

<%- include('./../partials/footer')-%>