@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004a79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 125px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3000;
}

header img {
  height: 90px;
  margin-left: 2rem;
  width: 145px;
}

header .nav {
  background-color: #F5D77F;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  width: 40%;
}

header .nav.show {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

header .nav.show .nav__list .nav__list-option .nav__list-option-link {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

header .nav .nav__list {
  padding: 1.5em 0;
  list-style: none;
}

header .nav .nav__list .nav__list-option {
  cursor: pointer;
  padding: 1em 0 1em 2em;
}

header .nav .nav__list .nav__list-option:nth-child(3) a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

header .nav .nav__list .nav__list-option:hover {
  background-color: #e0a769;
}

header .nav .nav__list .nav__list-option .nav__list-option-link {
  text-decoration: none;
  color: #7b4f1f;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

header .hamburger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.75rem;
  height: 100%;
  margin-right: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

header .hamburger:focus {
  outline: none;
}

main {
  padding-top: 125px;
}

main .container__tournament {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

main .container__tournament .flex-container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .container__tournament .flex-container .container__tournament-header.container__tournament-header-first {
  padding: 4rem 0 2rem 0;
}

main .container__tournament .flex-container .container__tournament-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004a79;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0 0 0;
  width: 100%;
}

main .container__tournament .flex-container .container__tournament-header img {
  height: 50px;
  margin: 0 0 0 auto;
  width: 80px;
}

main .container__tournament .flex-container .container__tournament-header .container__tournament-header-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5D77F;
  border: #DAA813 3.15px solid;
  color: #004a79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 0 auto;
  padding: 2.5px 0 2.5px 10px;
  text-transform: uppercase;
  width: 65%;
}

main .container__tournament .container__tournament-content-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin: 0.75rem 0;
  position: relative;
  width: 100%;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content {
  border: #000 1.13px solid;
  position: relative;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-title {
  background-color: #0AB9D8;
  border-bottom: #000 1.13px solid;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  text-align: center;
  text-transform: uppercase;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .img-gallartie {
  width: 100%;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion,
main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion {
  background-color: #F5D77F;
  border: #DAA813 3.5px solid;
  margin: 1.5rem auto 0.75rem auto;
  padding: 0.75rem 0.25rem;
  width: 85%;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion .img-team {
  height: 75px;
  width: 60px;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion .img-country {
  height: 60px;
  width: 85px;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion .container__tournament-content-champion-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion .container__tournament-content-champion-details .span-title {
  color: #000;
  font-size: 0.95rem;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion .container__tournament-content-champion-details .span-name {
  color: #004a79;
  font-size: 3rem;
  line-height: 2.5rem;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-champion .container__tournament-content-champion-details .span-team {
  color: #000;
  font-size: 1.125rem;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist {
  background-color: #C5C3C0;
  border: #61605F 3.5px solid;
  margin: 0.75rem auto 1.5rem auto;
  padding: 0.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .img-team {
  height: 50px;
  margin: 0 0.5rem 0 1rem;
  width: 45px;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .img-team.img-team-atletico-madrid-small {
  width: 35px;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .img-country {
  height: 40px;
  margin: 0 0.5rem 0 1rem;
  width: 55px;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .container__tournament-content-finalist-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem 0 0.5rem;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .container__tournament-content-finalist-details .span-title {
  color: #000;
  font-size: 0.6rem;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .container__tournament-content-finalist-details .span-name {
  color: #004a79;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

main .container__tournament .container__tournament-content-stack .container__tournament-content .container__tournament-content-finalist .container__tournament-content-finalist-details .span-team {
  color: #000;
  font-size: 0.75rem;
}

main .container__tournament .records {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

main .container__tournament .records .records-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5D77F;
  border: #DAA813 3.15px solid;
  color: #004a79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 0 auto;
  padding: 2.5px 0 2.5px 10px;
  text-transform: uppercase;
  width: 65%;
}

main .container__tournament .records .records-content-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container__tournament .records .records-content-container .records-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.75rem;
}

main .container__tournament .records .records-content-container .records-content:last-child {
  margin-bottom: 0;
}

main .container__tournament .records .records-content-container .records-content .records-content-img-escudo {
  margin: 0 0.75rem;
  width: 55px;
}

main .container__tournament .records .records-content-container .records-content .records-content-img-bandera {
  height: 40px;
  margin: 0 0.75rem;
  width: 60px;
}

main .container__tournament .stack-rosario-central {
  margin-top: 1.5rem;
}

main .container__tournament .stack-rosario-central::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/rosario-central-estadio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-estudiantes::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/estudiantes-estadio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-san-lorenzo::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/san-lorenzo-estadio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-racing::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/racing-estadio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-river {
  margin-bottom: 1.5rem;
}

main .container__tournament .stack-river::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/river-estadio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-portugal {
  margin-top: 1.5rem;
}

main .container__tournament .stack-portugal::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/portugal-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-alemania::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/alemania-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-belgica {
  margin-bottom: 1.5rem;
}

main .container__tournament .stack-belgica::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/belgica-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-argentina {
  margin-bottom: 1.5rem;
}

main .container__tournament .stack-argentina::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/argentina-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-manchester-united {
  margin-top: 1.5rem;
}

main .container__tournament .stack-manchester-united::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/manchester-united-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament .stack-real-madrid {
  margin-bottom: 1.5rem;
}

main .container__tournament .stack-real-madrid::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./../img/real-madrid-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__tournament:last-child {
  background-color: #004a79;
}

main .container__tournament .container__trajectory {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004a79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  text-transform: uppercase;
  width: 100%;
}

main .container__tournament .container__trajectory .trajectory-manager,
main .container__tournament .container__trajectory .trajectory-trophies {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main .container__tournament .container__trajectory .trajectory-manager {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 1rem;
  width: 45%;
}

main .container__tournament .container__trajectory .trajectory-manager .trajectory-manager-name {
  font-size: 2.75rem;
}

main .container__tournament .container__trajectory .trajectory-manager .trajectory-manager-amount {
  font-size: 3.25rem;
}

main .container__tournament .container__trajectory .trajectory-manager .trajectory-manager-titles {
  font-size: 1.75rem;
}

main .container__tournament .container__trajectory .trajectory-trophies {
  background-color: #F5D77F;
  border: #DAA813 3.15px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}

main .container__tournament .container__trajectory .trajectory-trophies span {
  font-size: 1rem;
  line-height: 1.5rem;
}

main .container__tournament .container__trajectory .trajectory-trophies .small-description {
  font-size: 0.75rem;
}

.container_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
  width: 95%;
}

.container_table .row {
  border: black 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container_table .row .column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: black 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_table .row .column:first-child {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.container_table .row .column .cell {
  font-weight: 400;
  padding: 0.5rem 0;
}

.container_table .row .column .cell:first-child {
  font-weight: 700;
  padding: 1rem 0;
}

form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
  width: auto;
}

form .form-row {
  margin: 0.5rem 0;
}

form .form-row input {
  margin: 0 0.5rem;
}

.container_matches {
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 300px;
  margin: 2rem auto;
  width: 90%;
}

.container_matches .match {
  margin: 0.5rem;
}
/*# sourceMappingURL=styles.css.map */