table {
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
}

.container_matches {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;

    .match {
        margin: 0.5rem;
    }
}