*,
::after,
::before {
    box-sizing: border-box;
    font-family: $mainFont;
    font-weight: 800;
    margin: 0;
    padding: 0;
    list-style: none;
}

.preload * {
    transition: none !important;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

body {
    background-color: rgba(255, 254, 254, 0.918);
}

.italic {
    font-style: italic;
}

.no-index {
    display: none;
}

.return {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0;
}