*,
::after,
::before {
    box-sizing: border-box;
    font-family: $mainFont;
    font-weight: 800;
    margin: 0;
    padding: 0;
    list-style: none;
}

.preload * {
    transition: none !important;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.italic {
    font-style: italic;
}

.no-index {
    display: none;
}