*,
::after,
::before {
    box-sizing: border-box;
    font-family: $mainFont;
    font-weight: 800;
    margin: 0;
    padding: 0;
    list-style: none;
}

// .swal-overlay--show-modal.swal-modal {
//     .swal-modal {
//         .swal-text {
//             text-align: center !important;
//         }
//     }
// }

.italic {
    font-style: italic;
}