.individual-records {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem auto;

    .individual-records__container {
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        justify-content: center;
        padding: 1rem 0;
        width: 80%;

        .title {
            font-weight: 800;
            margin: 0.75rem 0;
        }

        .player-streak {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            .streak-box {
                background-color: #fff;
                border: black 2px solid;
                margin: 0.25rem;
                padding: 0.75rem 0.75rem;

                &:nth-child(5) {
                    margin-right: auto;
                }

                &.win {
                    span {
                        color: green;
                    }
                }

                &.draw {
                    span {
                        color: gold;
                    }
                }

                &.lose {
                    span {
                        color: red;
                    }
                }
            }
        }

        ul,
        ol {
            margin: 0;
            padding: 0;
        }

        &:nth-child(1) {
            background-color: lightskyblue
        }

        &:nth-child(2) {
            background-color: lemonchiffon
        }

        &:nth-child(3) {
            background-color: lavender
        }

        &:nth-child(4) {
            background-color: lightcyan
        }

        &:nth-child(5) {
            background-color: antiquewhite
        }

        &:nth-child(6) {
            background-color: khaki;
            margin-bottom: 0;
            width: 95%;

            table {
                margin-bottom: 0;
            }
        }
    }

}