.records {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;

    &:first-child {
        padding-top: 0.5rem;
    }

    .records__container {
        align-items: center;
        border: $mainBlue 2px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.25rem auto;
        padding: 0.75rem 0.5rem;
        width: 85%;

        &:nth-child(1) {
            background-color: azure;
        }

        &:nth-child(2) {
            background-color: aliceblue
        }

        &:nth-child(3) {
            background-color: gainsboro
        }

        &:nth-child(4) {
            background-color: honeydew
        }

        &:nth-child(5) {
            background-color: antiquewhite
        }

        &:nth-child(6) {
            background-color: beige;
        }

        &:nth-child(7) {
            background-color: burlywood
        }

        &:nth-child(8) {
            background-color: ivory;
        }

        &:nth-child(9) {
            background-color: silver;
        }

        &:nth-child(10) {
            background-color: tan;
        }

        .title {
            margin: 0.5rem 0;
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
        }

        .bold {
            font-weight: 800;
        }

        span {
            font-weight: 400;
        }
    }
}