.title {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    justify-content: center;
    margin: 0 1rem auto;
    padding: 1rem;
    text-decoration: underline;
}

.table-standings {
    font-size: 0.9rem;
}