#uploadGamesForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem auto;
    padding: 0 0.5rem;

    .form__container {
        align-items: center;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem auto 0 auto;
        width: 100%;

        option {
            margin: 1rem 0;
        }
    }
}